body {
    background-color: #EEEEEE;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 1.7;
    font-family: Arial, sans-serif;

}
h1 {
    text-align: center;
    background-color: #787A91;
    border-radius: 15px;
    padding: 0%;
    border: #141E61 10px solid;
    color: #0F044C;
}
h2 {
    text-align: center;
    background-color: #787A91;
    color: #0F044C;
}
h3 {
    text-align: center;
    background-color: #787A91;
    color: #0F044C;
}
h4 {
    text-align: center;
    color: #0F044C;
}
p {
    background-color: #787A91;
}
.estilo-propio {
        padding: 3px 10px;
        border: #0F044C 5px double;
        background-color: #787A91;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
}