body {
    background-color: #FFE6E6;
    max-width: 1024px;
    margin-top: 79px;
    margin-left: 180px;
    margin-right: auto;
    text-align: justify;
    line-height: 1.7;
    font-family: Arial, sans-serif;

}
header{
    overflow: hidden;
        margin-left: -20px;
    position: absolute;
    background-color: #B30F04;
    width: 1044px;
    top: 0;
    height: 79px;
}
.header{
    float: left;
      width: 8em;
      height: 3.8em;
      margin: 2px;
      margin-left: 3.8px;
      padding: 5px;
      border: black 2px solid;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    position: fixed;
    top: -15px;
    left: 0;
    width: 160px;
    padding-left: 0.2px;
    font-size: 80%;
    text-align: left;
}
aside {
    position: absolute;
    left: 1204px;
    top: 79px;

}
h1 {
    text-align: center;
    background-color: #EB8882;
    border-radius: 15px;
    padding: 0%;
    border: #B30F04 10px solid;
    color: #700700;
}
h2 {
    text-align: center;
    background-color: #EB8882;
    color: #700700;
}
h3 {
    text-align: center;
    background-color: #EB8882;
    color: #700700;
}
h4 {
    text-align: center;
    color: #700700;
}
p {
    background-color: #EB8882;
}
.estilo-propio {
        padding: 3px 10px;
        border: #700700 5px double;
        background-color: #EB8882;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
}
.estilo-propio2 {
    padding: 3px 10px;
    background-color: #FFE6E6;
}
.estrella {
    position: relative;
    right: 0;
}